# libs
node_modules
# image extensions
*.png
*.jpg
*.webp
*.jpeg
# except watermark
!watermark.png

# information about pictures
meta.json

# dev: ignore css
*.css
*.css.map

# backup files
*.bak

# upload directory
upload
