services:
  php:
    build:
      context: ./php
      dockerfile: Dockerfile
    volumes:
      - ./src:/var/www/html
    environment:
      - COMPOSER_HOME=/composer
    networks:
      - app-network

  nginx:
    image: nginx:stable
    depends_on:
      - php
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network

  node:
    image: node:24
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    command: ["tail", "-f", "/dev/null"]
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
