header {
  border-bottom: thin solid #dadee4;
}

.navbar {
  padding: 25px;

  &-section {
    align-items: center;

    p {
      margin: 0;
    }
  }
}

// main: gallery
.gallery {
  place-items: center;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  .card {
    width: 300px;
  }

  &-single {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.modal {
  &-container {
    border: thin solid #dadee4;
    max-height: 100vh !important;
  }

  &-header {
    display: flex;

    justify-content: space-between;

    &:has(> .btn:only-child) {
      justify-content: end;
    }
  }

  &-title {
    align-content: center;
  }

  &-body {
    img {
      width: 100%;
    }
  }
}

.pagination {
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drag-and-drop {
  border: 2px #dadee4 dashed;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }

  &.active {
    border-color: #aaaaaa;
    background-color: #f0f0f0;
  }
}

.toast {
  position: fixed;
  top: 15px;
  max-width: 300px;
  z-index: 999;
  right: -350px;

  &-active {
    right: 15px;
  }
}
