header {
  border-bottom: thin solid #dadee4;
}

.navbar {
  padding: 25px;

  &-section {
    align-items: center;

    p {
      margin: 0;
    }
  }
}

// main: gallery
.gallery {
  place-items: center;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  .card {
    width: 300px;
  }
}

.modal {
  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    align-content: center;
  }
}

.pagination {
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drag-and-drop {
  border: 2px #dadee4 dashed;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }

  &.active {
    border-color: #aaaaaa;
    background-color: #f0f0f0;
  }
}
